@using TestPerpustakaan_VS2019.Library.Entities;

@{
    ViewData["Title"] = "Role Detail Page";
}

<div>
    <h2 style="color:red; font-weight:bold">......Ooopsss. Sorry, cannot display the page.</h2>

    <span style="position:absolute; margin-left:0px; margin-top:0px;">
        <img id="imgPhoto" src="~/Content/images/cannotdisplay.jpg" width="300" height="200" />
    </span>
</div>

