
<!-- Ajax Loading Control -->
<div id="mask">
    <div id="loadingProcess">
        <img src="~/content/images/loading.gif" width="100px" height="100px" /><br />
        Please Wait...
    </div>
</div>