
<div id="modal-form" tabindex="-2" class="modal animated bounceIn" aria-hidden="true"
     data-keyboard="false" data-backdrop="static" 
     style="top:10%;left:35%; width:33.2%;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header btn-primary">
                <button type="button" class="close fa-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h2 class="modal-title font-bold">Confirmation</h2>
            </div>
            <div class="modal-body" style="height:350px; width:530px;">
                <h3><b><div id="content" style="width:82%; height:300px; overflow-y:auto; "></div></b></h3>
            </div>

            <div class="modal-footer">
                <button class="btn btn-primary col-lg-9" type="button"
                        onclick="$('#modal-form').modal('hide');">
                    <b>OK</b>
                </button>
            </div>

        </div>
    </div>
</div>