@using TestPerpustakaan_VS2019.Library.Entities;

@{
    ViewData["Title"] = "Role Detail Page";
}

<div id="modal-form-roledetail" class="modal" aria-hidden="true"
     data-keyboard="false" data-backdrop="static"
     style="top:10%; left:0%; width:100%; overflow:hidden;  ">

    <div class="modal-dialog" >
        <div class="modal-content" style="width:120%;">
            <div class="modal-header btn-primary">
                @*<button type="button" class="close fa-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>*@
                <h4 class="modal-title font-bold"><div id="title"></div></h4>
            </div>

            <div class="modal-body" style="height:100%;">

                <form class="form-horizontal">

                    <input type="hidden" id="hdnId" value="" />

                    <div class="form-group">
                        <label class="col-lg-3">Role Name</label>
                        <div class="col-lg-6">
                            <input id="txtRoleName" type="text" placeholder="Role Name" class="form-control" value="">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-3">Description</label>
                        <div class="col-lg-7">
                            @Html.TextArea("txtDesc", "",
                                    new
                                    {
                                        placeholder = "Description",
                                        rows = "5",
                                        maxlength = "1000",
                                        @class = "form-control"
                                    })
                        </div>
                    </div>

                </form>


            </div>


            <div class="modal-footer" style="width:100%; left:0%;">
                <button class="btn btn-primary" type="button" style="width:20%; left:0;"
                        onclick="getClose();">
                    <b>Cancel</b>
                </button>
                <button class="btn btn-primary" type="button" style="width:20%; left:0;"
                        onclick="getSave();">
                    <b>Save</b>
                </button>

            </div>

        </div>
    </div>
</div>

